#chatContent {
    width: 590px;
    min-height:  600px;
    background-color: #ccc;
    color: black;
}

.fromMe {
    color: red;
}

.busy {
    color: red;
}

.layout {
    width: 600px;
    margin: auto;
    border: solid brown 5px;
    min-height: 600px;
}

.isLink {
    text-decoration: underline;
    color: blue;
}